.coinflip-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coinflip-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #f1f1f1 2px solid;
    border-radius: 30px;
    background-color: #f1f1f1;
    padding: 3rem;
    box-shadow: 1px 1px 10px #c1c1c1;
    gap: 2.5rem;
}

.coin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bet-amount {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}