.daily-product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 80px);
  background-color: #f0f0f0;
  align-items: center;
}

.palm-left,
.palm-right {
  display: flex;
  top: 6rem;
  position: absolute;
  width: 45vw;
}

.palm-right {
  right: 0;
}

.palm-left {
  left: 0;
  rotate: y 180deg;
}

.product-frame {
  background-color: white;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 450px;
  max-width: 90%;
  text-align: center;
}

.header-row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.title {
  font-size: 2.2em;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 1.3em;
  margin: 0 0 20px 0;
  text-decoration-line: underline;
  color: #6f0013;
}

.product-card {
  position: relative;
  display: inline-block;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.product-image {
  width: 180px;
  height: auto;
  display: block;
  border-radius: 10px;
}

.sold-tag {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #8b0000;
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

.product-description {
  margin-bottom: 15px;
  font-size: 1.1em;
  line-height: 1.4;
  color: #666;
}

.current-price-text {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 15px;
}

.price-value {
  font-weight: bold;
  color: black;
}

.price-slider-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 0 5px;
}

.price-slider {
  flex-grow: 1;
  margin: 0 10px;
  -webkit-appearance: none;
  height: 12px;
  border-radius: 5px;
  background: linear-gradient(to right, #ff70a6, #ff9770);
}

.min-value,
.max-value {
  font-size: 1.2em;
  color: #555;
  font-weight: bold;
  width: 50px;
  white-space: nowrap;
}

.buy-button {
  position: relative;
  overflow: hidden;
  z-index: 0;
  width: 65%;
  padding: 15px 0;
  margin: 10px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  background: linear-gradient(45deg, #ff70a6 30%, #ff9770 90%);
  box-shadow: 0 5px 15px rgba(255, 112, 166, 0.4);
}

.buy-button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(45deg, #ff8da9 30%, #ffb086 90%);
  opacity: 0;
  transition: all 0.3s ease;
}

.buy-button:hover::before {
  opacity: 1;
}

@media (max-width: 1200px) {
  .palm-right,
  .palm-left {
    opacity: 0;
  }
}

.bottom {
  display: flex;
  border-top: 4px solid black;
  width: 100%;
  padding: 20px;
  margin-top: 100px;
  font-size: 2vh;
}
