.overlay {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 50%;
  width: 100%;
  height: 100%;
  left: 0;
  transform: translateY(-50%) scaleY(0);
  transform-origin: center;
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255, 0.65);
  color: black;
  font-size: 3vh;
  text-align: center;
    justify-content: center;
  backdrop-filter: blur(10px);
    align-items: center;
    gap: 6rem;
    @media (orientation: portrait) {
        flex-direction: column;
        gap: 3rem;
    }
}

.overlay.open {
  transform: translateY(-50%) scaleY(1);
}

#text_div {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

#text_div p, #text_div h3 {padding:0}

#imgIO {
    width: 15rem;
}