.card:hover {
  transform: translateY(-2px) scale(1.01);
}

.card-front::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(230, 230, 230, 0.4),
    transparent
  );
  transform: skewX(-25deg);
  transition: all 0.6s ease;
}

.card-front:hover::before {
  left: 125%;
  transition: all 0.6s ease;
}

.card {
  perspective: 1000px;
  width: 100%;
  height: 100%;
  max-width: 600px;
  min-width: 250px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #fbfbfb;
  border-radius: 15px;
  box-shadow: 5px 5px 5px lightgray;
  padding: 2rem;
  gap: 3vw;
  background-color: #fbfbfb;
  transition: 0.2s ease;
  position: relative;
  overflow: hidden;
  aspect-ratio: 6 / 3;
  width: clamp(100%, 100%, 100%);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: normal;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fbfbfb;
  border-radius: 15px;
  box-shadow: 5px 5px 5px lightgray;
  overflow-y: auto;
}

.image {
  display: flex;
  height: clamp(13rem, 30vh, 300px);
  aspect-ratio: 6 / 8;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.8rem, 2.5vw, 23px);
  background-color: transparent;
  text-align: center;
}

.name p {
  color: darkred;
  font-weight: bold;
}

.prizes {
  border: 2px solid lightgray;
  border-radius: 50px;
  color: #b2b2b2;
  padding: 0.3rem 0.8rem;
  transition: all 0.2s ease;
  font-size: clamp(0.7rem, 2vw, 20px);
  text-wrap: nowrap;
}

.prizes:hover {
  background-color: lightgray;
  color: white;
}

.cart {
  border: 3px solid darkred;
  border-radius: 50px;
  background-color: darkred;
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: clamp(0.8rem, 2.5vw, 25px);
  transition: all 0.2s ease;
  text-wrap: nowrap;
}

.cart:hover {
  background-color: white;
  color: darkred;
}

.prize-list {
  list-style: disc;
  padding: 0;
  margin-left: 1vh;
  columns: 2;
  column-gap: 2rem;
  color: #6f6f6f;
  text-align: left;
}

.prize-list li {
  break-inside: avoid;
  page-break-inside: avoid;
}

.toast {
  position: fixed;
  top: 50%;
  right: 2rem;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  animation:
    slideIn 0.3s,
    fadeOut 0.3s 3s;
  box-shadow: 5px 5px 5px lightgray;
  font-size: 26px;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateY(-50%);
  max-width: 60vw;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 750px) {
  .card {
    max-width: 95vw;
  }

  .image {
    max-height: 23vh;
  }

  .card-front {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .content {
    gap: 1vh;
  }
}
