#myboxes_body {
    width: 100vw;
    height: 84vh;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
}

#myboxes_title {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}

#inventory {
    width: 100%;
    background-color: lightgray;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 1rem gray;
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    grid-auto-rows: max-content;
    align-items: start;
    justify-items: start;
    gap: 1.5rem;
}

#inventory_box {
    transition: transform 0.5s ease;
}

#inventory_box:hover {
    transform: scale(1.1);
    cursor: pointer;
}
