.boxes {
  border: 2px solid rgba(0, 0, 0, 0.25);
  background-color: white;
  box-shadow: 5px 5px 5px lightgray;
  border-radius: 20px;
  margin-top: 3vh;
}

.small_boxes {
  @media (orientation: portrait) {
    width: 100%;
    height: 40%;
  }
  @media (orientation: landscape) {
    width: 48%;
    height: 100%;
  }
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
}

#profile {
  width: 90%;
  height: 45vh;
  display: flex;
  flex-direction: column;
    padding: 20px 45px;
}

#profile_box_title {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
}

#profile_box_content {
    height: 80%;
    display: flex;
    flex-direction: row;
}

.profile_box_content_box {
    display: flex;
    justify-content: center;
    /*border:2px solid red;*/
    flex-grow: 1;
    flex-direction: column;
}

#k {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    background-color: lightgray;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: inset 0 0 10px gray;

}

#pfp {
    height: 150px;
    width: 150px;
}

#pfp_gray_box {
    height: 50%;
    width: 100%;
    position: relative;
    bottom: 48%;
    left: 0;
    background-color: gray;
    z-index: 1;
    border-radius: 7px;
}

#pfp_img {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

#textbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height:fit-content;
    padding: 2% 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

#changebox {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid lightgray;
}

#opened_box {
    width: 300px;
    height: 150px;
    background-color: lightgray;
    border-radius: 7px;
    box-shadow: inset 0 0 10px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#small_box_container {
  @media (orientation: portrait) {
    flex-direction: column;
  }
  @media (orientation: landscape) {
    flex-direction: row;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (orientation: portrait) {
    height: 25%;
  }
  @media (orientation: landscape) {
    height: 15%;
  }
  width: 90%;
}

p {
  font-size: 100%;
  color: black;
}

h1 {
  font-size: 150%;
  color: black;
}

#content {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (orientation: portrait) {
    gap: 4vh;
  }
  @media (orientation: landscape) {
    gap: 6vh;
  }
}

#line {
  width: 30%;
}



#logout_box_container {
  height: 7%;
  width: 90%;
  display: flex;
  align-items: center;
}

